- model_class = InformationContent
div class="page-header"
  h1=t '.title', :default => [:'helpers.titles.new', Settings.admin.title.new.information_content], :model => model_class.model_name.human.titleize
= render :partial => "form"
